---
const videoList = [
    { id: 'l1oeSKG2aL8', title: 'Barcelona Chillout Session by Salva Romanelli', thumbnail: '/l1oeSKG2aL8-HD.jpg' },
    { id: 'A3dYIUW56LU', title: 'Barcelona Rooftop Session by Damien Fisher', thumbnail: '/A3dYIUW56LU-HD.jpg' },
    { id: 'VYNe93r04Pc', title: 'Barcelona B2B Rooftop Session @ Sagrada Familia', thumbnail: '/VYNe93r04Pc-HD.jpg' },
    { id: '0DDc5buvYbU', title: 'Barcelona Rooftop Sunset Session by AWA', thumbnail: '/0DDc5buvYbU-HD.jpg' },
    { id: 'dYrMsnWHRG8', title: 'Folktronica & Organica - Hybrid Set by HILA', thumbnail: '/dYrMsnWHRG8-HD.jpg' }
];

const apiKey = 'AIzaSyDfCu-BI-67s-fjlD0Xw8cxYp38dRUqS6w';
const fetchVideoStats = async (videoId: string) => {
    const response = await fetch(`https://www.googleapis.com/youtube/v3/videos?part=statistics&id=${videoId}&key=${apiKey}`);
    const data = await response.json();
    return data.items[0].statistics;
};

const initialVideoId = 'A3dYIUW56LU';
const initialStats = await fetchVideoStats(initialVideoId);
---

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const mainVideo = document.querySelector('#mainVideo') as HTMLIFrameElement;
    const playlistItems = document.querySelectorAll('.playlist-item') as NodeListOf<HTMLElement>;
    const viewsElement = document.querySelector('#views') as HTMLElement;
    const likesElement = document.querySelector('#likes') as HTMLElement;

    const apiKey = 'AIzaSyDfCu-BI-67s-fjlD0Xw8cxYp38dRUqS6w';  
    const fetchVideoStats = async (videoId: string) => {
      const response = await fetch(`https://www.googleapis.com/youtube/v3/videos?part=statistics&id=${videoId}&key=${apiKey}`);
      const data = await response.json();
      return data.items[0].statistics;
    };

    playlistItems.forEach(item => {
      item.addEventListener('click', async (e) => {
        e.preventDefault();
        const videoId = item.dataset.videoId;
        if (videoId) {
          mainVideo.src = `https://www.youtube.com/embed/${videoId}`;
          const stats = await fetchVideoStats(videoId);
          viewsElement.textContent = `${stats.viewCount} views`;
          likesElement.textContent = `${stats.likeCount} likes`;
        } else {
          console.error('videoId is undefined');
        }

      });
    });
  });
</script>

<style>
  /* Bubble Float Right */
  .hvr-bubble-float-right {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
  }
  
  .hvr-bubble-float-right:before {
    position: absolute;
    z-index: -1;
    top: calc(50% - 10px);
    right: 0;
    content: '';
    border-style: solid;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent #e3e3e3;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
  }
  
  .hvr-bubble-float-right:hover,
  .hvr-bubble-float-right:focus,
  .hvr-bubble-float-right:active {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }
  
  .hvr-bubble-float-right:hover:before,
  .hvr-bubble-float-right:focus:before,
  .hvr-bubble-float-right:active:before {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
</style>

<section id="djsets" class="relative w-full h-screen overflow-hidden text-white">
  <div class="absolute top-0 left-0 w-full h-full">
      <video autoplay muted loop playsinline class="w-full h-full object-cover">
          <source src="/DJI_0651.MP4" type="video/mp4">
      </video>
  </div>
  

  <div class="relative w-full h-full">
    <div class="absolute top-0 left-0 w-full h-full bg-black bg-opacity-50 text-white p-4 overflow-y-auto md:overflow-hidden">
        <header class="flex flex-col md:flex-row items-center justify-between mt-32 md:-mt-20">
            <div class="absolute -top-4 left-1/2 transform -translate-x-1/2 md:static md:transform-none">
                <img src="/2.png" alt="Illuminnate Music Logo" class="w-60 h-auto"> <!-- Aumenta el tamaño del logo -->
            </div>
            <nav class="flex-1 flex justify-center">
                <ul class="list-none p-0 m-0 flex space-x-10 text-white">
                    <li class="my-8 font-andada-pro-italic hidden md:block"><a href="#landing" class="block transform transition-transform duration-300 hover:scale-125 text-2xl">Home</a></li>
                    <li class="my-8 font-orbitron hidden md:block"><a href="#djsets" class="block transform transition-transform duration-300 hover:scale-125 text-2xl">Dj Sets</a></li>
                    <li class="my-8 font-orbitron hidden md:block"><a href="https://www.illuminnatechiro.com/shop" class="block transform transition-transform duration-300 hover:scale-125 text-2xl">Shop</a></li>
                    <li class="my-8 font-orbitron hidden md:block"><a href="#contact" class="block transform transition-transform duration-300 hover:scale-125 text-2xl">Contact</a></li>
                </ul>
            </nav>
            <div class="flex gap-4">
                <a href="https://open.spotify.com/intl-es/artist/0coO5IwMkWjM10vEgZx7KP" target="_blank" class="icon-link hidden md:block">
                    <img src="/spotify.svg" alt="Spotify" class="w-8 h-8 transition-transform duration-300 filter invert hover:scale-125"/> 
                </a>
                <a href="https://www.youtube.com/@illuminnatemusic" target="_blank" class="icon-link hidden md:block">
                    <img src="/youtube.svg" alt="Youtube" class="w-8 h-8 transition-transform duration-300 filter invert hover:scale-125"/> 
                </a>
                <a href="https://www.instagram.com/illuminnatemusic/" target="_blank" class="icon-link hidden md:block">
                    <img src="/instagram.svg" alt="Instagram" class="w-8 h-8 transition-transform duration-300 filter invert hover:scale-125"/> 
                </a>
                <a href="https://www.facebook.com/illuminnatemusic" target="_blank" class="icon-link hidden md:block">
                    <img src="/facebook.svg" alt="Facebook" class="w-8 h-8 transition-transform duration-300 filter invert hover:scale-125"/> 
                </a>
                <a href="#mailing" class="icon-link hidden md:block">
                    <img src="/envelope.svg" alt="Mailing List" class="w-8 h-8 transition-transform duration-300 filter invert hover:scale-125"/>
                </a>
            </div>
        </header>
      <h1 class="text-3xl md:text-4xl text-center mt-2 md:-mt-8 -my-6">Latest Sessions:</h1>

      <div class="flex flex-col md:flex-row justify-center items-center w-full mt-6 md:mt-8 z-40">
          <div class="w-full md:w-2/3 p-4 flex flex-col items-center order-1 md:order-2 mt-6 md:mt-0">
              <iframe 
                  id="mainVideo"
                  class="w-full md:w-4/5 h-60 md:h-[600px] md:ml-[-100px]"
                  src={`https://www.youtube.com/embed/${initialVideoId}`} 
                  frameborder="0" 
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                  allowfullscreen>
              </iframe>
              <div class="mt-4 text-2xl text-center md:text-left">
                  <span id="views">{initialStats.viewCount} views</span> | <span id="likes">{initialStats.likeCount} likes</span>
              </div>
          </div>
          <div class="w-full md:w-1/3 p-4 h-[600px] order-2 md:order-1 mt-6 md:-mt-20">
              <div class="bg-black bg-opacity-50 rounded-lg p-6 h-full overflow-y-auto">
                  <h2 class="text-2xl md:text-4xl mb-4 pl-2 text-white">More content:</h2>
                  <ul class="list-none p-0">
                      {videoList.map((video) => (
                          <li class="mb-4 flex items-center">
                              <a href="#" 
                                 class="playlist-item hvr-bubble-float-right p-2 bg-amber-300/50 hover:bg-gray-700 rounded flex items-center w-full"
                                 data-video-id={video.id}>
                                  <div class="flex items-center w-full">
                                      <img src={video.thumbnail} alt={video.title} class="w-26 h-16 object-cover" />
                                      <span class="ml-4">{video.title}</span>
                                  </div>
                              </a>
                          </li>
                      ))}
                  </ul>
              </div>
          </div>
      </div>
  </div>
</section>